@import "../../styles/_colors"

.Store
  width: 100%
  margin: 0 auto
  max-width: 1280px
  padding: 16px

  .S__Title
    font-size: 2rem
    line-height: 2rem
    padding-left: 5px
    color: $white
    margin-bottom: 20px
    font-weight: bold
    border-left: 5px solid $primary

  .S__Header
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

    .H__TotalItens
      color: $white
      font-weight: bold
      font-size: 1rem
