@import "../../styles/_colors"

.Header
  width: 100%
  height: 60px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.29)
  padding: 10px 16px
  margin-bottom: 25px

  .H__Brand
    display: flex
    align-items: center

    .B__Text
      color: $white
      margin-left: 5px
      font-weight: bold

  .H__SearchWrapper
    width: 40%
    height: 100%
    display: flex
    align-items: center

    .SW__Input
      width: 90%
      border: 0
      background: $white
      color: $black
      height: 100%
      padding: 8px
      border-radius: 4px 0 0 4px

      &::placeholder
        color: $black
        font-weight: bold

    .SW__Button
      border: 0
      outline: none
      background: $primary
      color: $white
      height: 100%
      width: 10%
      cursor: pointer
      border-radius: 0 4px 4px 0
      font-size: 1rem
      display: flex
      align-items: center
      justify-content: center
      transition: background 0.2s

      &:hover
        background: darken($primary, 3%)

  .H__NavList
    display: flex
    align-items: center

    .NL__Item
      padding: 0 8px

      .I__Link
        @extend .H__NavList
        text-decoration: none
        color: $white
        font-weight: bold
        font-size: 1rem
        transition: color 0.2s

        &:hover
          color: darken($white, 15%)

        .L__Wrapper
          position: relative

        .L__Badge
          position: absolute
          display: flex
          align-items: center
          justify-content: center
          top: -5px
          right: 0
          background: $primary
          width: 20px
          height: 20px
          font-size: 0.8rem
          border-radius: 50%

        .L__Icon
          font-size: 32px
          margin-right: 8px
